@import "colors";

body {
  font-family: "Roboto Mono", monospace;
}

.dark-mode {
  background-color: $bgColor;
  color: $mainColor;

  a {
    color: $linkColor;
    &:hover {
      color: $linkColorHover;
    }
  }
}
