@import "colors";
@import "mixins";

.home {
  .me, .contact {
    text-align: center;
    margin-bottom: 50px;
  }

  .contact {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      > li {
        display: inline-block;
        margin: 0;
        padding: 0;

        a {
          display: inline-block;
          border: 1px solid lighten($bgColor, 20%);
          border-radius: 10px;
          padding: 5px 10px;
          margin: 10px;
        }
      }
    }
  }

  .posts {
    h3 {
      text-align: center;
      margin-bottom: 30px;
    }

    .posts-list {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-gap: 40px;
      grid-row-gap: 20px;

      @include md-down {
        grid-template-columns: 1fr;
      }
    }

    .post {
      background-color: $bgColor;
      border-width: 1px;
      border-style: solid;
      border-color: lighten($bgColor, 30%);
      border-radius: 5px;
      margin: 0 0 15px 0;
      padding: 15px 15px;
    }

    .post-date {
      font-style: italic;
      font-size: 14px;
    }

    .post-tags {
      margin: 10px 0 0 0;
      padding: 0;
    }
  }
}