<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.author }}{% endif %}</title>

    <meta name="author" content="{{ site.author }}" />
    <meta name="description" content="{% if page.title %}{{ page.title }}{% else %}{{ site.description }}{% endif %}" />
    <meta name="keywords" content="{% if page.title %}{{ page.title }}, {{ site.title }}, {% for categ in page.categories %}{{ categ }}{% if forloop.last == false %}, {% endif %}{% endfor %}{% else %}{{ site.title }}, {% for category in site.categories %}{% capture categories_slug %}{{ category | first }}{% endcapture %}{% for categ in categories_slug %}{{ categ }}{% endfor %}{% if forloop.last == false %}, {% endif %}{% endfor %}{% endif %}" />

    {% if page.noindex %}
      <meta name="robots" content="noindex">
    {% endif %}

    {% if page.title %}
      <meta content="{{ page.title }}" property="og:title">
      <meta content="article" property="og:type">
    {% else %}
      <meta content="{{ site.title }}" property="og:title">
      <meta content="website" property="og:type">
    {% endif %}

    {% if page.description %}
      <meta content="{{ page.description }}" property="og:description">
    {% else %}
      <meta content="{{ site.description }}" property="og:description">
    {% endif %}

    {% if page.url %}
      <meta content="{{ site.url }}{{ page.url }}" property="og:url">
    {% endif %}

    {% if page.date %}
      <meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
      <meta content="{{ site.url }}/about/" property="article:author">
    {% endif %}

    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/index.css">
  </head>
  <body class="dark-mode">
    <div class="container">
      <header class="header">
        <a href="/" title="Home" class="brand">
          <img src="/static/assets/avatar.jpeg" alt="mjeanroy.dev" class="avatar"/>
        </a>
        <ul class="nav">
          <li class="nav-item"><a href="/blog" title="Blog">Blog</a></li>
          <li class="nav-item"><a href="/talks" title="Talks">Talks</a></li>
          <li class="nav-item"><a href="/projects" title="Projects">Projects</a></li>
          <li class="nav-item"><a href="/about" title="About">About</a></li>
        </ul>
      </header>
      <div class="body">
        {{ content }}
      </div>
      <div class="footer">
      </div>
    </div>
  </body>
</html>